.debug {
    border: 1px solid red !important;

    &>* {
        border: 1px solid green !important;
    }

    &>* {
        border: 1px solid blue !important;
    }
}

@layer base {

    :root,
    main,
    body {
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--color-foreground);
        background-color: var(--color-background);

        font-family: monospace;
    }

}

:root {
    --color-primary: light-dark(#4f46e5, #6366f1);
    --color-primary-foreground: light-dark(#ffffff, #000000);

    --color-muted: light-dark(#6b7280, #9ca3af);
    --color-muted-foreground: light-dark(#f4f4f5, #18181b);

    --color-background: light-dark(#f4f4f5, #09090b);
    --color-foreground: light-dark(#18181b, #fafafa);


    --color-card: light-dark(#fafafa, #18181b);
    --color-card-foreground: light-dark(#09090b, #f4f4f5);

    color-scheme: light dark;

}