@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 214 32% 91%;
  --foreground: 222 47% 11%;

  --card: 210 40% 96%;
  --card-foreground: 222 47% 11%;

  --primary: 161 94% 30%;
  --primary-foreground: 222 47% 11%;
  --border-radius: 0.5rem;
}
.dark {
  --background: 222 47% 11%;
  --foreground: 214 32% 91%;
  --card: 217 33% 17%;
  --card-foreground: 214 32% 91%;

  --primary: 161 94% 30%;
  --primary-foreground: 214 32% 91%;
}

.debug {
  border: 1px solid red !important;
  & > * {
    border: 1px solid green !important;
    & > * {
      border: 1px solid blue !important;
    }
  }
}

body {
  font-family: "Inter", sans-serif;
}

:root,
body,
main {
  height: 100%;
}
