@import "tailwindcss";

@theme inline {
  --color-background: theme('colors.neutral.900');
  --color-foreground: theme('colors.neutral.100');
  --color-card: theme('colors.neutral.800');
  --color-card-foreground: theme('colors.neutral.200');
}

.debug {
  border: 1px solid red !important;

  &>* {
    border: 1px solid green !important;

    &>* {
      border: 1px solid blue !important;
    }
  }
}

body,
main {
  @apply h-full;
}

body {
  @apply bg-background text-foreground;
}


.container {
  @apply max-w-7xl mx-auto p-4 sm:p-6 lg:p-8 border;
}